<form>
    <fieldset class="form-group">
     
      <div class="form-group">
          <label for="exampleInputEmail1">Date:</label>
          <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Date">
      </div>

      <div class="form-group">
            <label for="InputProjectName">Project Name:</label>
            <input type="text" class="form-control" id="InputProjectName"  placeholder="Enter Project">
        </div>
     
       <div class="form-group">
          <label for="deparmentInput">Department:</label>
          <input type="text" class="form-control" id="deparmentInput"  placeholder="Enter Deparment">
      </div>

      <div class="form-group">
          <label for="deparmentInput">Delivered to:</label>
          <input type="text" class="form-control" id="deparmentInput"  placeholder="Enter Delivery">
      </div>

      <div class="form-group">
          <label for="quantityInput">Quantity:</label>
          <input type="number" class="form-control" id="quantityInput"  placeholder="Enter Quantity">
      </div>

      <div class="form-group">
          <label for="estimateInput">Estimated Cost:</label>
          <input type="text" class="form-control" id="estimateInput"  placeholder="Enter Estimated">
      </div>

        <div class="form-group">
            <label for="itemsInput">Item(s) needed:</label>
            <!-- <input type="text" class="form-control" id="itemsInput"  placeholder="Enter Items"> -->

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Please attach document or estimate</label>
              </div>
        </div>

        <div class="form-group">
                <label for="purposepurchaseInput">Purpose of purchase (if necessary attach in attachments tab for detailed specifications):</label>
                <textarea class="form-control" id="purposepurchaseInput" rows="3"></textarea>
        </div>
        <h5>Proposed Source of Funds (Code (s)):</h5>

    </fieldset>
    <hr>
    
  </form>
