<div>
    <div class="form-group">
         <label >Written Bids Obtained?</label>
         <input type="checkbox" >Yes
         <input type="checkbox"> No
         <input type="checkbox">N/A
    </div>
    <div class="form-group">
        <label >Newspaper Solicitation?</label>
        <input type="checkbox" >Yes
        <input type="checkbox"> No
        <input type="checkbox">N/A
     </div>
     <div class="form-group">
        <label >Sole Source justification memo attached?</label>
        <input type="checkbox" >Yes
        <input type="checkbox"> No
        <input type="checkbox">N/A
     </div>

  <h6>BIDDING REQUIREMENT INFORMATION</h6>
  <app-vendor-info [title]="'Vendor Information #1'"></app-vendor-info>
  <app-vendor-info [title]="'Vendor Information #2'"></app-vendor-info>
  <app-vendor-info [title]="'Vendor Information #3'"></app-vendor-info>
</div>
<div>
  <div class="form-group">
    <label style="color: red;">Program Director E-Signature:</label>
    <small>(Initial Request)</small>
    <input style="font-family: 'Tangerine', cursive;" type="text"  class="form-control" >
    <br>
    <label style="color: red">Date:</label>
    <input type="date" class="form-control"  >
  </div>

  <div class="form-group">
      <label style="color: red;" >Finance Accountant / Director E-Signature:</label>
      <small>(Authorize Budget Approval)</small>
      <input style="font-family: 'Tangerine', cursive;font-size: 16px;" type="text"  class="form-control" >
      <br>
      <label style="color: red;" >Date:</label>
      <input type="date" class="form-control"  >
  </div>

  <div class="form-group">
    <label style="color: red;" >Procurement Staff / Director E-Signature:</label>
    <small>(Bid Process Confirmation)</small>
    <input style="font-family: 'Tangerine', cursive;font-size: 16px;" type="text"  class="form-control" >
    <br>
    <label style="color: red;" >Date:</label>
    <input type="date" class="form-control"  >
  </div>
  <div class="form-group">
    <label style="color: red;" >Program Director E-Signature:</label>
    <small>(Authorize Award Approval)</small>
    <input style="font-family: 'Tangerine', cursive;font-size: 16px;" type="text"  class="form-control" >
    <br>
    <label style="color: red;" >Date:</label>
    <input type="date" class="form-control"  >
  </div>

  <div class="form-group">
    <label style="color: red;" >Executive Director E-Signature:</label>
    <small>(Authorization required for any purchase above $1000)</small>
    <input style="font-family: 'Tangerine', cursive;font-size: 16px;" type="text"  class="form-control" >
    <br>
    <label style="color: red;" >Date:</label>
    <input type="date" class="form-control"  >
</div>
</div>